* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* color: #673268;
    color: #003777;
    color: #094395;
    color: #0394C9;
    color: #007784;
    color: #A0E4F1;
    color: #FBF4DA;
    */
}

body {
    background-image: url(../img/Fondo\ logo\ Almar.jpg);
    background-size: 100% auto;
}

/*  HEADER  */
header {
    width: 100%;
    background-color: #673268;
    box-shadow: 3px 3px 20px rgb(37, 37, 37);
    z-index: 1;
}

.logos img {
    margin-right: 15px;
}

nav {
    padding: 0px 18px 7px 0px;
    display: flex;
    text-align: end;
    align-items: center;
}

nav ul li {
    margin: 7px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 0.9rem;
}

nav ul li a:hover {
    padding: 8px;
    background-color: #A0E4F1;
    border-radius: 100px;
    color: #673268;
}

a.active {
    color: #A0E4F1;
}

/* Apaga el borde del botón hamburguesa de bootstrap */
.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}


/* LOGO WSP FIJO */
.whatsapp {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    right: 20px;
    bottom: 25px;
    width: 70px;
    height: 70px;
    position: fixed;
    border-radius: 100%;
    z-index: 10;
}


/* INICIO */
.logo-carrousel img {
    opacity: 0.6;
}

.frase {
    margin: auto;
    padding: 80px;
    text-align: center;

}

.frase hr {
    height: 5px;
    background-color: #673268;
    margin: 50px 0;
}

/* Aside Facebook */
.facebook {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-page {
    border: 3px solid #673268;
    border-radius: 5px;
    margin: 30px;
    box-shadow: 3px 3px 20px #673268;
}


/* ACERCA DE MI */
@keyframes AnimAparece {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 5;
    }
}

.img-acercademi {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: AnimAparece 5s;
}

.texto-acercademi {
    padding: 40px;
    margin-top: 30px;
}

.texto-acercademi h1,
h4 {
    color: #673268;
}

.logo-acercademmi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.especialidades-acercademi {
    padding: 40px;
}

.especialidades-acercademi h3 {
    color: #673268;
}

/* CURSOS */
@keyframes AnimAgranda {
    0% {
        color: #673268;
        transform: scale(1);
    }

    50% {
        color: #b173b3;
        transform: scale(1.2);
    }

    100% {
        color: #673268;
        transform: scale(1);
    }
}

.cursos h2 {
    color: #673268;
    animation: AnimAgranda 3s;
}

.card-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border: solid 2px #673268;
}

.card h5 {
    color: #673268;
}

.card:hover {
    box-shadow: 5px 5px 20px #673268;
    transform: translateY(-2%);
}

.card .btn:hover {
    background-color: #673268;
    border: #673268;
}

.modal-content {
    background-color: #feecff;
    border: solid 3px #673268;
}


/* CONTACTO */
/* Formulario */
.contacto {
    margin-top: 10px;
    display: flex;
}

.contacto h4 {
    margin-bottom: 10px;
}

.logoform {
    width: 45%;
    text-align: center;
}

form {
    width: 55%;
    margin: 20px 65px;
}

label {
    display: block;
    color: #673268;
    font-size: 13px;
    margin-bottom: 2px;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 5px;
    border: 2px solid #673268;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #e1f5f8b3;
}

::placeholder {
    font-size: 12px;
    color: #0394c9da;
}

form button {
    background-color: #673268;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    color: #A0E4F1;
}

/* Ubicación */
.ubicacion {
    text-align: center;
}

iframe.map {
    padding: 10px;
    display: block;
    margin: auto;
}


/*   FOOTER   */
footer {
    padding: 30px;
    background-color: #003777;
    color: white;
    text-align: center;
    font-size: x-small;
}

.IconosRedes {
    margin: 13px;
}

.IconosRedes a {
    margin: 13px;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}

footer ul li a {
    color: #A0E4F1;
}


/*********************/
/*    RESPONSIVE    */

/* Mobile 0 a 768px */
@media (max-width:768px) {

    /* Acerca de mi */
    .logo-acercademmi {
        display: none;
    }

    /* Formulario */
    .logoform {
        display: none;
    }

    form {
        width: 90%;
    }

    /* WSP */
    .whatsapp {
        display: none;
    }

}


/* Tablet 768px a 1023px */
@media (max-width:1023px) {}